@model WebApp.BL.Models.DepartmentsVM

@section Search
{

    <form class="form-inline my-2 my-lg-0 mr-lg-2">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
}


<div class="d-flex flex-column  align-items-center justify-content-center">
    <h2 class="my-3 my-sm-5">Update department</h2>
    <form class="form-group w-75 " asp-action="Index" asp-controller="Departments">


        <div class="form-group row">
            <label asp-for="DepartmentName" class="col-sm-2 col-form-label font-weight-bold">Department name</label>
            <div class="col-sm-10">
                <input type="text" asp-for="DepartmentName" class="form-control ">
                <div class=" text-danger mt-2">
                    <span asp-validation-for="DepartmentName" class="form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DepartmentCode" class="col-sm-2 col-form-label font-weight-bold">Department code</label>
            <div class="col-sm-10">
                <input type="text" asp-for="DepartmentCode" class="form-control ">
                <div class=" text-danger mt-2">
                    <span asp-validation-for="DepartmentCode" class="form-control-feedback"></span>
                </div>
            </div>
        </div>

        <input type="submit" value="Update" class="btn btn-primary form-control  mb-2">
        <button asp-action="Index" asp-controller="Departments" class="btn btn-danger form-control ">Cancel</button>
    </form>



    @section Validation{
        <script src="~/vendor/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    }



</div>